<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>About</title>
  </head>
  <body>
    <h1>About Louis de Funès</h1>
    <ul>
      <li><a href="http://127.0.0.1:3000/home">Home</a></li>
      <li><a href="http://127.0.0.1:3000/about">About</a></li>
      <li><a href="http://127.0.0.1:3000/Works">Works</a></li>
    </ul>

    <section>
      <p>
        Après presque vingt ans sur les planches ainsi que devant les caméras
        dans de nombreux seconds rôles, il impose son personnage de Français
        moyen impulsif, râleur, au franc-parler parfois dévastateur, aux
        verbigérations et mimiques parfois muettes. C'est dans les années 1950
        qu'il se fait connaître tardivement du public avec La Traversée de Paris
        (1956), ses premiers rôles principaux et le triomphe au théâtre d'Oscar.
        Dans les deux décennies qui suivent, on le retrouve dans une suite de
        succès populaires, parmi lesquels : Pouic-Pouic (1963), Le Gendarme de
        Saint-Tropez (1964) et ses cinq suites, la trilogie Fantômas (1964 à
        1967), Le Corniaud (1965), Le Grand Restaurant et La Grande Vadrouille
        (1966), Oscar et Les Grandes Vacances (1967), Le Petit Baigneur (1968),
        Hibernatus (1969), Jo et La Folie des grandeurs (1971), Les Aventures de
        Rabbi Jacob (1973), L'Aile ou la Cuisse (1976), La Zizanie (1978) et La
        Soupe aux choux (1981). Il a également participé à l'écriture de
        quelques scénarios de ses films et co-réalisé L'Avare avec Jean Girault
        en 1980.
      </p>

      <p>
        Outre la France, les films de Louis de Funès ont connu un grand succès
        dans divers pays européens, et notamment en Russie, du temps de l'URSS.
        Sa popularité ne s'étendra que très peu dans le monde anglo-saxon, à
        l'exception du succès outre-Atlantique de Rabbi Jacob, nommé pour un
        Golden Globe en 1975. Le souvenir de l'acteur est entretenu par deux
        musées : le musée Louis-de-Funès à Saint-Raphaël et le musée de la
        Gendarmerie et du Cinéma, dans l'ancienne gendarmerie de Saint-Tropez.
      </p>
    </section>
  </body>
</html>
