<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>Louis de Funès</h1>

    <ul>
      <li><a href="http://127.0.0.1:3000/home">Home</a></li>
      <li><a href="http://127.0.0.1:3000/about">About</a></li>
      <li><a href="http://127.0.0.1:3000/Works">Works</a></li>
    </ul>

    <section>
      <p>
        Louis de Funès, de son nom complet Louis de Funès de Galarza, est un
        acteur français né le 31 juillet 1914 à Courbevoie et mort le 27 janvier
        1983 à Nantes. Ayant joué dans plus de cent quarante films, il est l'un
        des acteurs comiques les plus célèbres du cinéma français de la seconde
        moitié du xxe siècle et réalise les meilleurs résultats du cinéma
        français, des années 1960 au début des années 1980. Il réalise également
        les meilleures audiences télévisées. Très peu récompensé, il reçoit
        toutefois un César d'honneur pour l'ensemble de sa carrière en 1980.
      </p>
      <img src="/imgs/louis-defunes.jpg" alt="louis defunes" />
    </section>
  </body>
</html>
