<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Works</title>
  </head>
  <body>
    <h1>Movies</h1>
    <ul>
      <li><a href="http://127.0.0.1:3000/home">Home</a></li>
      <li><a href="http://127.0.0.1:3000/about">About</a></li>
      <li><a href="http://127.0.0.1:3000/Works">Works</a></li>
    </ul>

    <section>
      <img src="/imgs/film1.jpg" alt="film1" />
      <img src="/imgs/film2.jpg" alt="film2" />
      <img src="/imgs/film3.jpg" alt="film3" />
    </section>
  </body>
</html>
